{% extends 'base.html' %}

{% block content %}
<main role="main">
    <div class="container">
        <h1 class="text-center pt-3">Welcome to Yusuke's Blog</h1>
        <br />
        <br />
        <h2>Latest Posts</h2>
        <hr />

        {% for blog in blogs.all %}
        <div class="article">
            <a href="{% url 'detail' blog.id %}"><h3>{{blog.title}}</h3></a>
            <time>{{blog.pub_date_pretty}}</time>
            <br />
            <img class="img-fluid" src="{{blog.image.url}}" height=200 width=200/>
            <br />
            <p>{{blog.summary}}</p>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}

