{% extends 'base.html' %}
{% block content %}
{% load static %}
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
    <h1>Hi, I'm Yusuke.</h1>
      <p class="lead text-muted">Hey, my name is Yusuke Ueda and I'm studying Machine Learning. I wanna develop completely safe autonomous vehicle!</p>
      <p>
        <a href="mailto:418810@m.mie-u.ac.jp" class="btn btn-primary my-2">Email Me</a>
      </p>
      <img src="{%static 'me.jpeg'%}" height=200 width=200/>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">

        {% for job in jobs.all %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="{{job.image.url}}" />
            <div class="card-body">
              <p class="card-text">{{job.summary}}</p>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>

</main>

{% endblock %}

